# Ignore all
*

# Unignore all with extensions
!*.*
!**/Dockerfile
!**/Makefile

# Unignore all dirs
!*/
!api
.vscode
.idea
**/.DS_Store
**/logs
**/log
vendor
# gitlab ci
.cache

# vim auto backup file
*~
!OWNERS
config.json
**/test_api/*

.vscode

go get gitlab.ydjdev.com/ydjai/gozny/tool/goctl@4055cee72cd435d8a3b31e187a36517caf265fb4